# Ignore everything - let's not push some secrets ;)
*

# except some important ones maybe
!.config/
!.gitignore
!README.md

# gtk
!.config/.gtkrc-2.0
!.config/gtk-3.0/
!.config/gtk-3.0/*.ini
!.config/gtk-4.0/
!.config/gtk-4.0/*.ini
!.config/gtk-4.0/*.css
!.config/xsettingsd/xsettingsd.conf
