# Ignore everything - let's not push some secrets ;)
*

# except some important ones maybe
!.config/
!.gitignore
!README.md

# hypr
!.config/hypr/
!.config/hypr/*
!.config/hypr/config/
!.config/hypr/config/*
