# Backups
backup
*~

# logs
*.log
.config/ChiTuBox v1.8.0
.config/FreeTube
.config/GIMP/2.10
.config/MusicBrainz
.config/PrusaSlicer
.config/Todoist
.config/audacity
.config/cubocore
.config/dconf
.config/discord
.config/easytag
.config/fontconfig
.config/go/telemetry/local
.config/heroic
.config/obs-studio
.config/pulse
.config/systemd/user/default.target.wants
.config/vlc
.config/xfce4/xfconf/xfce-perchannel-xml
.config/QtProject.conf
.config/electron-builder.json
.config/user-dirs.dirs
.config/user-dirs.locale
.config/BetterDiscord Installer
.config/BetterDiscord/data
.config/Thunar
.config/ibus-anthy
.config/ibus/bus
.config/docker/config.json
.config/OpenKJ
.config/pavucontrol.ini
.config/nvidia
.config/homepage
.config/lazygit
.config/sauerbraten
.config/watchtower
.config/Code - OSS
.config/HPI
.config/komorebi
.config/torbrowser
.config/simple-update-notifier
.config/rbw/config.json
.config/okularrc
.config/QDirStat
.config/Sentry/07ADDC43B5669C4F6DB64F2EF2B23B3FEEDFE865
.config/asp
.config/keys
.config/nginx
.config/php
.config/Plexamp
.config/flameshot
.config/flameshot
.config/plex.tv
.config/appimagelauncher.cfg
.config/balenaEtcher
.config/xournalpp
