[Desktop Entry]
Name=Picom
Name[en_US]=Picom
GenericName=X compositor
GenericName[en_US]=X compositor
Comment=An X compositor
Exec=picom --config /home/sizzleru/.config/picom/picom.conf --daemon
Terminal=false
Type=Application
Icon=compton
Categories=Utility
Keywords=compositor;composite manager;window effects;transparency;opacity;
NoDisplay=true
