{
	"layer": "top",
	"position": "top",
	"output": "DP-3",

	"modules-left": ["hyprland/workspaces"],
	"modules-center": ["custom/ipv4_local", "custom/ipv4_tailscale", "custom/ipv4_public"],
	"modules-right": [],

	"custom/ipv4_local": {
		"exec": "echo '[local IPv4: '$( nmcli dev show $( nmcli -t | grep '[^dis]connected' | head -n 1 | awk -F: '{ print $1 }' ) | awk -F: '/IP4.ADDRESS/ { print $2 }' | sed 's/ //g' | sed 's|/[0-9]*$||' )']'"
	},

	"custom/ipv4_tailscale": {
		"exec": "echo '[tailscale IPv4: '$( tailscale status --json | jq '.Self.TailscaleIPs.[0]' | sed 's/\"//g' )']'"
	},

	"custom/ipv4_public": {
		"exec": "echo '[global IPv4: '$( curl -s --max-time 3 https://api.ipify.org )' -- '$( curl -s --max-time 3 https://ipapi.co/json | jq '.timezone' | sed 's/\"//g' )']'"
	},
}
