{
	"layer": "top",
	"position": "top",
	"output": "HDMI-A-1",

	"modules-left": ["hyprland/workspaces"],
	"modules-center": ["custom/player_title"],
	"modules-right": ["pulseaudio", "pulseaudio#mic", "custom/player_prev", "custom/player_play", "custom/player_next"],

	"pulseaudio": {
		"format": "({icon} {volume}%",
		"format-muted": "  muted",
		"format-icons": ["", " ", " "],
		"on-click": "pavucontrol"
	},

	"pulseaudio#mic": {
		"format": " {volume}%)",
		"format-source-muted": "  muted",
		"on-click": "pavucontrol"
	},

	"custom/player_title": {
		"exec": "playerctl metadata --format '{{ artist }} - {{ title }}'",
		"interval": 2,
		"format": "  {}",
	},

	"custom/player_prev": {
	  "format": "[ ",
	  "on-click": "playerctl previous"
	},

	"custom/player_play": {
	  "exec": "playerctl status | sed 's/Playing//' | sed 's/Paused//'",
	  "interval": 1,
	  "format": "{}",
	  "on-click": "playerctl play-pause"
	},

	"custom/player_next": {
	  "format": " ]",
	  "on-click": "playerctl next"
	}
}
