{
    # Account
    email {env.CLOUDFLARE_EMAIL}

    # Settings
    admin :2019

    # Logging
    log default {
        output stdout
        format console
        level DEBUG
    }
    debug

    # Certificates
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    acme_dns cloudflare {env.CLOUDFLARE_TOKEN}
}

(settings) {
    # TLS settings
    tls {
        dns cloudflare {env.CLOUDFLARE_TOKEN}
        client_auth {
            mode verify_if_given
            trust_pool file /data/caddy/certificates/cloudflare/origin-pull-ca.pem
        }
    }

    # Logging
    log {
        hostnames {args[0]}
        output file /var/log/{args[0]}.log
        level DEBUG
    }
}

bitwarden.sizzleru.com {
    import settings bitwarden.sizzleru.com
    reverse_proxy vaultwarden:80
}

blog.sizzleru.com {
    import settings blog.sizzleru.com
    reverse_proxy mkdocs:8000
}

caddy.sizzleru.com {
    #import settings caddy.sizzleru.com
    tls internal
    reverse_proxy caddy:2019
}

docker.sizzleru.com {
    import settings docker.sizzleru.com
    reverse_proxy registry:5000
}

filebrowser.sizzleru.com {
    import settings filebrowser.sizzleru.com
    reverse_proxy filebrowser:8080
}

grafana.sizzleru.com {
    import settings grafana.sizzleru.com
    reverse_proxy grafana:3000
}

homepage.sizzleru.com {
    import settings homepage.sizzleru.com
    reverse_proxy homepage:3000
}

homeassistant.sizzleru.com {
    import settings homeassistant.sizzleru.com
    reverse_proxy homeassistant:8123
}

jdownloader.sizzleru.com {
    import settings jdownloader.sizzleru.com
    reverse_proxy jdownloader:5800
}

komga.sizzleru.com {
    import settings komga.sizzleru.com
    reverse_proxy komga:25600
}

minecraft.sizzleru.com {
    import settings minecraft.sizzleru.com
    reverse_proxy minecraft:25565
}

plex.sizzleru.com {
    import settings plex.sizzleru.com
    reverse_proxy plex:32400
}

stablediffusion.sizzleru.com {
    import settings stablediffusion.sizzleru.com
    reverse_proxy stablediffusion:7860
}

tautulli.sizzleru.com {
    import settings tautulli.sizzleru.com
    reverse_proxy tautulli:8181
}

uptimekuma.sizzleru.com {
    import settings uptimekuma.sizzleru.com
    reverse_proxy uptimekuma:3001
}

qdirstat.sizzleru.com {
    import settings qdirstat.sizzleru.com
    reverse_proxy qdirstat:3000
}

sauerbraten.sizzleru.com
    import settings sauerbraten.sizzleru.com
    reverse_proxy sauerbraten:28785
}

speedtest.sizzleru.com {
    import settings speedtest.sizzleru.com
    reverse_proxy speedtest:80
}

transmission.sizzleru.com {
    import settings transmission.sizzleru.com
    reverse_proxy transmission:9091
}
