set bell-style audible
set bind-tty-special-chars on
set comment-begin #
set completion-ignore-case on
set completion-prefix-display-length 0
set completion-query-items 50
set convert-meta on
set disable-completion off
set editing-mode vi
set echo-control-characters on
set enable-keypad on
set enable-meta-key on
set history-preserve-point on
set history-size -1
set horizontal-scroll-mode off
set input-meta off
set keymap vi
set mark-directories on
set mark-modified-lines off
set mark-symlinked-directories on
set match-hidden-files on
set output-meta off
set page-completions on
set print-completions-horizontally off
set revert-all-at-newline off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on
